@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin :0;
    padding :0;
    box-sizing :content-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
 }
 body{
    height:100vh;
    width:100%;
    display:flex ;
    justify-content:center;
    align-items:center;
    background:linear-gradient(to left,blue,red);
 }
 form{
    width: 30rem;
    height: 25 rem;
    display: flex;
    flex-direction: column;
    background: rgba(26,255,245,0.06);
    box-shadow:0 8px 32px 0 rgb(24, 24, 32);
    border: radius 30px;
    border-left: 1px solid gray;
    border-top :1px solid gray ;
 }
 h1{ 
    font-size : 50px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px black ;
    letter-spacing:3px;
    margin-bottom:5%;
    opacity: 0.7;
 }
 label{
    font-size:25px;
    color: aliceblue;
    margin-left:7%;
    opacity: .8;
    text-shadow: 2px 2px 4px black;
 }
 input{
    width:80% ;
    margin-left:10%;
    margin-right:5%;
    margin-top: auto;
    margin-bottom: 9%;
    border: none;
    outline:none;
    background:transparent;
    border-bottom:1px solid gray;
 }
 button{
    width: 50%;
    margin: 3% auto;
    color: black;
    font-size: 15px;
    opacity: .7;
    box-shadow:3px 3px 5px rgba(31,38,135,.37);
    text-shadow: 2px 2px 4px rgba(255,255,255,0.06);
 }
 a{
    font-size:12px;
    text-align: center;
    color: black;
 }